@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

:root
{
    --primary-color: rgba(240, 240, 240, 1);
    --accent-color: rgba(0, 41, 255, 1);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins';
    background-color: white;
    color: black;
    position: relative;
}

/* *-----------------------NAV--------------------- */
nav
{
    width: 100%;
    height: 90px;

    
    
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    
    padding: 20px 83px;
    
    background-color: var(--primary-color);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.logo img
{
    width: 310px;
}

.navItems
{
    display: flex;
    align-items: center;
}

.navItems ul
{
    display: flex;
    align-items: center;
    list-style: none;
}

.navItems ul li
{
    display: flex;
    user-select: none;
    cursor: pointer;
}

.navItems ul li:last-of-type
{
    font-size: 2rem;
    transform: rotate(90deg);
}

.navItems ul li img
{
    height: 37px;
    width: 37px;
    margin-right: 20px;
}
/* !-----------------------NAV-OVER--------------------- */


/* *-----------------------JOURNEY--------------------- */
.journeySection
{
    height: 740px;
    width: 390px;
    
    border-radius: 0px 20px 20px 20px;
    box-shadow: 0px 2px 10px 0px;
    overflow: hidden;

    position: absolute;

    transition: 0.2s;

    background-color: white;

    z-index: 10000;

}


.journeyBar
{
    padding: 10px;

    background-color: black;
    color: white;

    display: flex;
    justify-content: space-between;

    font-size: 1rem;
    font-weight: 600;
}

.journeyBar img
{
    height: 30px;
    width: 40px;
    cursor: pointer;
}

.right-arrow
{
    transform: rotate(180deg);
}

.leftCollapse
{
    transform: translateX(-70%);
}

.hidden
{
    display: none !important;
}

.journeyContent
{
    padding: 21px 0px 0px 32px;
    /* border: solid red; */
}

.journeyContent ul
{
    list-style: disc;
}

.journeyHeading p
{
    margin-bottom: 18px;
    font-weight: 600;
}

.journeyNotifs
{
    border: solid var(--accent-color);
    color: var(--accent-color);
    height: 68px;
    width: 68px;
    position: absolute;
    top: 11%;
    right: 7%;

    border-radius: 20px;

    font-size: 2rem;

    display: flex;
    align-items: center;
    justify-content: center;
}
/* !-----------------------JOURNEY-OVER-------------------- */



/* *---------------------NOTICE-BOARD----------------------- */
.noticeBoard
{
    height: 394px;
    width: 95px;

    background-color: white;

    position: absolute;
    right: 0;
    top: 6%;

    
    box-shadow: 0px 2px 5px 0px;
    border-radius: 20px 0px 0px 20px;

    display: flex;
    overflow: hidden;
}

.noticeHeading
{
    background-color: black;
    color: white;

    width: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    padding-top: 30px;
}

.noticeHeading img
{
    height: 34px;
    width: 34px;
    cursor: pointer;
    margin-bottom: 30px;
}

.noticeHeading p
{
    /* border: red solid; */
    height: 235px;
    width: 25%;
    line-height: 1.1rem;
}
/* !---------------------NOTICE-BOARD-OVER---------------------- */



/* *---------------------MAIN---------------------- */
main
{
    padding: 20px 200px;
    height: fit-content;
}

/* *---------------------TITLE---------------------- */
.title
{
    /* border: solid red; */
    color: var(--accent-color);
    display: flex;
    justify-content: space-between;
}

.title button
{
    padding: 9px 24px;
    border: none;
    background-color: var(--accent-color);
    color: white;
    font-weight: 500;
    border-radius: 15px;

    cursor: pointer;
}
/* !---------------------TITLE-OVER--------------------- */



/* *----------------------HERO----------------------------- */
.hero
{
    margin-top: 36px;
    background-color: rgba(233, 236, 239, 1);
    padding: 30px;
    border-radius: 10px;

    display: flex;
    flex-direction: column;

    gap: 10%;
    margin-bottom: 75px;
}

.hero h3
{
    margin-bottom: 10px;
}
/* !----------------------HERO-OVER-------------------------- */



/* *----------------------GRID-SECTION---------------------------- */
.gridSection
{
    /* border: solid red; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    gap: 80px;
    
}

.card
{
    /* border: solid blue; */
    height: 700px;
    width: 40%;
    min-width: 480px;

    border-radius: 20px;
    transition: 0.2s;

    overflow: hidden;
}

.cardHeading
{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    height: 10%;

    position: relative;
    font-weight: 500;
    z-index: 100;
}

.arrowIcon
{
    display: grid;
    place-items: center;

    font-weight: 800;
    height: 22px;
    width: 22px;
    background-color: white;
    color: black;
    border-radius: 50%;

    position: absolute;

    right: 30px;

    cursor: pointer;
}

.cardShadow
{
    box-shadow: 0px -4px 10px 0px;
}

.upArrow
{
    transform: rotate(180deg);

}

.collapse
{
    transform: translateY(-100%);
    overflow-y: scroll;
}

.collapsable
{
    height: 90%;
    transition: 0.2s ease-in-out;
    overflow-y: auto;
}

.description 
{
    height: 90px;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 1px 1px 0px;
}

.firstWord
{
    font-weight: 600;
}

.description p
{
    width: 90%;
}


/* *------------------------CARD1---------------------- */
iframe
{
    width: 100%;
    height: 50%;
    border: none;
    outline: none;
}

/* *------------------------CARD2---------------------- */

.threadHeading
{
    display: flex;
    align-items: center;
    padding: 10px;
    column-gap: 15%;
    background-color: rgba(254, 255, 192, 0.2);
}

.threadContent
{
    padding: 0px 3.7rem;
    height: fit-content;
}

.threads img
{
    height: 10px;
    width: 16px;
}

.threadForm1
{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;   
}

.form1inpt
{
    box-shadow: 1px 3px 8px 0px rgba(0, 0, 0, 0.277);
    font-size: 0.7rem;
    height: 100px;
    width: 200px;

    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 10px;
}

.form1inpt p
{
    
    padding: 6px 14px;
    width: 100%;
    
    
}

.form1inpt textarea
{
    border-radius: 10px;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    /* border: solid 0.1px rgba(51, 51, 51, 1); */
    box-shadow: 1px 3px 8px 0px rgba(0, 0, 0, 0.277);
    
    padding-left: 12px;
}


.form1inpt textarea::placeholder
{
    align-self: flex-start;
}

.threadIcons
{
    margin-top: 37px;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.iconsThreadIcons
{
    width: 200px;
    display: flex;
    justify-content: end;
}

.threadIcons img
{
    height: 30px;
    width: 150px;

    cursor: pointer;
}

.threadIconBtn
{
    width: 200px;
    display: flex;
    justify-content: space-between;
}

.threadIconBtn img
{
    height: 8px;
    width: 10px;
}

.threadIconBtn button
{
    padding: 10px 4px;
    font-size: 12px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
    background-color: transparent;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.submitbtn
{
    margin-top: 37px;

    display: flex;
    align-items: center;
}

.submitbtn button
{
    padding: 8px 8px;
    font-size: 0.8rem;



    display: flex;
    align-items: center;
    gap: 0.3rem;

    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
    background-color: var(--accent-color);
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

.submitbtn span
{
    font-size: 1.4rem;
}


.threadForm2
{
    box-shadow: 1px 3px 8px 0px rgba(0, 0, 0, 0.277);
    margin-top: 20px;

    border-radius: 10px;
    height: 140px;
    overflow: hidden;
}

.summary
{
    font-size: 0.7rem;
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.05);
}

.summary p
{
    padding: 6px 14px;
    width: 100%;
}

.summary textarea
{
    border-radius: 10px;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    /* border: solid 0.1px rgba(51, 51, 51, 1); */
    box-shadow: 1px 3px 8px 0px rgba(0, 0, 0, 0.277);

    padding-left: 12px;
}

.summary textarea::placeholder
{
    align-self: flex-start;
}




/* *-------------------------CARD3---------------------------------------- */

.pointerTitle
{
    margin-top: 30px;

    height: 100px;
    /* border: solid; */

    display: flex;
    flex-direction: column;
    gap: 10%;
}

.pointerTitle p
{
    font-weight: 600;
}

.pointerTitle textarea
{
    padding: 3%;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    /* border: solid 0.1px rgba(51, 51, 51, 1); */
    box-shadow: 1px 3px 8px 0px rgba(0, 0, 0, 0.277);
}



.pointerContent
{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 10%;
}

.pointerContent p
{
    font-weight: 600;
}

.pointerContent textarea
{
    padding: 3%;
    border-radius: 0px 0px 10px 10px;
    width: 100%;
    height: 250px;
    border: none;
    outline: none;
    /* border: solid 0.1px rgba(51, 51, 51, 1); */
    box-shadow: 1px 3px 8px 0px rgba(0, 0, 0, 0.277);
}

.contentNav
{
    /* border: solid; */
    padding: 20px;
    height: 100px;
    border-radius: 10px 10px 0 0;
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.18);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contentNav ul
{
    display: flex;
    justify-content: space-between;
    list-style: none;
    font-size: 0.7rem;
}

.contentNavIcons
{
    display: flex;
    gap: 20px;
}

.contentNavIcons img
{
    height: 20px;
    width: 20px;
}


.contentNavIcons p
{
    /* border: solid; */
    height: 50%;
    display: flex;
    align-items: center;
}

.contentNavIcons p:first-of-type
{
    height: 30px;
    width: 110px;

    background-color: var(--primary-color);
    font-weight: 400;
    font-size: 0.8rem;
}




/* *----------------------------CARD4---------------------------- */

.introContainer
{   
    height: 200px;
    margin-top: 1px;
    position: relative;
}

.card4Heads
{
    height: 50px;
    display: flex;
    align-items: center;
    padding-left: 14px;
    gap: 1rem;
    font-size: 1.2rem;
}

.card4Intro
{
    background-color: var(--primary-color);
}

.intoArrow
{
    height: 22px;
    width: 22px;

    cursor: pointer;
}

.more
{
    margin-left: 80%;
    cursor: pointer;
}

.collapsableIntro
{
    margin: 20px 15px;
    font-size: 0.8rem;
    line-height: 1.2rem;
}



.contenContainer
{
    position: relative;
}

.card4Threds
{
    border: 1px solid rgba(217, 215, 215, 1);
}

.examples
{
    margin-top: 20px;
    margin-left: 40px; 
}

.exampleHeading
{
    border: 1px solid rgba(217, 215, 215, 1);
}

.examples p
{
    font-size: 0.8rem;
    line-height: 1.2rem;
    margin-left: 15px;
    margin-top: 15px;
}

/* !----------------------GRID-SECTION-OVER-------------------------- */








/* !---------------------MAIN-OVER--------------------- */




/* *---------------------FOOT-ICONS--------------------- */
.footIconsContainer
{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    position: absolute;

    right: 1%;
    bottom: 1%;
}

.footIcons
{
    height: 80px;
    width: 80px;
    border-radius: 50%;
    background-color: var(--accent-color);
    
    display: flex;
    align-items: center;
    justify-content: center;
}
.footIcons img
{
    height: 50px;
}
/* !---------------------FOOT-ICONS-OVER-------------------- */